  /* HEADER */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: var(--bg);
    top: 0;
    border-bottom: 6px solid var(--acc2-light);
  }
  
.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-shadow: -4px -1px 0px var(--acc1-light);
    margin: 0;
    white-space: nowrap;
}

/* NAV STUFF */
.header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
}

.header nav a {
    font-family: 'Roboto', sans-serif;
    color: var(--acc1-light);
    letter-spacing: .1em;
    margin: 0 15px;
    text-decoration: none !important;
}

.header nav a:hover {
    color: white;
}

@media (max-width: 768px) {
h1 {
    font-size: 5rem;
}

.header {
    height: 125px;
}
}