  /* HEADER */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: var(--bg);
    top: 0;
  }

  .header h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.6rem;
    text-shadow: -4px -1px 0px var(--acc1-light);
    margin: 0;
    white-space: nowrap;
  }


  /* SMALLER SCREENS */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 3rem;
    }

    .header {
      height: 10vh;
    }
  }