  /* HEADER */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    top: 0;
  }

  .header h1 {
    color: var(--dark);
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.6rem;
    /* text-shadow: -3px -1px 0px var(--acc1-light); */
    margin: 0;
    white-space: nowrap;
  }

  .header h1:after {
    content: '|'; /* typewriter cursor */
    animation: blink 1s infinite;
    text-shadow: none;
  }

  .header h1.hide-cursor:after {
    display: none;
  }
  
  @keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
  }

  /* SMALLER SCREENS */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 3rem;
    }

    .header {
      height: 10vh;
    }
  }