/* CONTACT ME */
.message-submit {
    font-family: 'Bebas Neue', sans-serif !important;
    margin-top: 10px;
    background-color: var(--accent2) !important;
    color: white !important;
    border: none !important;
    font-size: 1.6rem !important;
    width: 200px;
    height: 50px; 
    
}

.message-submit:hover {
    background-color: var(--acc2-light) !important;
    color: white !important;
    border: none;
}

.contact-card-header {
    background-color: var(--accent2) !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .20rem;
    padding: 25px 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}