/* CONTACT ME */
.message-submit {
    font-family: 'Bebas Neue', sans-serif !important;
    margin-top: 10px;
    background-color: var(--accent1) !important;
    color: white !important;
    border: none !important;
    font-size: 1.6rem !important;
    width: 200px;
    height: 50px; 
    
}

.message-submit:hover {
    background-color: var(--dark) !important;
    color: white !important;
    border: none;
}

.contact-card-header {
    background-color: var(--accent1) !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .20rem;
    padding: 25px 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}

.contact-card-body {
    background: var(--acc1-light) !important;
    font: .9rem 'Roboto', sans-serif;
}

.custom-label {
    margin-top: 20px;
    font-weight: 500;
    padding-left: 3px;
    color: var(--dark)
}

/* body:not(.dark-mode) */
 .card {
    background-color: var(--accent1) !important;
    padding: 6px;
}

/* DARK MODE */

/* body.dark-mode .contact-card-body {
    background: var(--dark) !important;

}
body.dark-mode .card {
    background-color: var(--dark) !important;
    padding: 6px;
} */