:root {
    --bg: #0E1428;
    --accent1: #40798C;
    --acc1-light: #93B7BE;
    --accent2: #7B9E89;
    --acc2-light: #CFE0C3;
    --shadow: #00000044;
    --acc2-light-t: #CFE0C340;

}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: var(--bg);
    position: fixed;
    top: 0;
    border-bottom: 6px solid var(--acc2-light);
}

.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-shadow: -4px -1px 0px var(--acc1-light);
    margin: 0;
}

/* NAV STUFF */
.header nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.header nav a {
    font-family: 'Roboto', sans-serif;
    color: var(--acc1-light);
    letter-spacing: .1em;
    margin: 0 15px;
    text-decoration: none !important;
}

.header nav a:hover {
    color: white;
}

/* ABOUT ME */

.profile-pic {
    object-fit: cover;
    max-width: 150px;
    border-radius: 4px;
    box-shadow: 4px 2px 7px var(--shadow);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.about-me-text {
    font-family: 'Roboto', sans-serif;
}

.text-field {
    overflow: auto;
    max-height: 200px; 
    padding-top: 10px;
}

.folder {
    margin-top: -3.6rem !important;
}



.about-me {
    margin-top: 8rem;
    border-top: 12px solid var(--bg) !important;
    border-left: 12px solid var(--bg) !important;
    border-bottom: 12px solid var(--accent2) !important;
    border-right: 12px solid var(--accent2) !important;
    box-shadow: 4px 2px 7px var(--shadow);
    border-top-left-radius: 0px;
    position: relative;
}

/* .cat-peek {
    position: absolute;
    bottom: -43.5px;
    right: 0;
    transform: calc(100% + 12px);
    width: 20%;
} */

.about-me .cstm-card-header {
    background-color: var(--bg) !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .20rem;
    margin-left: -.75rem;
    padding: 15px 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.about-me .cstm-card-body {
    background-color: var(--acc2-light-t);
    border-top: 2.75px solid var(--bg) !important;

}


/* FOOTER */
.footer {
    width: 100vw;
    height: 50px;
    background: var(--bg);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h4 {
    color: white;
    font-family: 'bebas neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 10px;
}




@media (min-width: 768px) {
    .about-me .cat-peek {
        position: absolute;
        bottom: -44px;
        right: 0px;
        max-width: 20%;
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    .header h1 {
        font-size: 5rem;
    }

    .header nav a {
        font-size: .9rem;
        letter-spacing: 0;
        margin: 0px 15px;
    }
    .about-me .cat-peek {
    display: none;
    }


}

