.resume h2 a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--dark);
}

.resume h2 a {
    text-decoration: none !important;
}

.resume h2 a:hover {
    color: var(--accent2);
    cursor: pointer;
}

.download {
    font-size: 1.4rem;
}

.proficiencies h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark);
    cursor: default;
}

.skills-list {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    cursor: default;
    padding-left: 12px;
}

.skills-list li:hover {
    font-size: 1.1rem;
}

/* DARK MODE */

body.dark-mode .resume h2 {
    color: white;
}

body.dark-mode .resume h2:hover {
    color: var(--acc2-light);
}

body.dark-mode .proficiencies h3 {
    color: white;
}   

body.dark-mode .skills-list {
    color: var(--acc1-light);
}
