:root {
    --dark: #0E1428;
    --accent1: #40798C;
    --acc1-light: #93B7BE;
    --accent2: #7B9E89;
    --acc2-light: #CFE0C3;
    --shadow: #00000044;
    --acc2-light-t: #CFE0C340;
}

 body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    min-width: 100vw;
}

.main-content {
    min-height: calc(100vh - 15vh -10vh);
    display: flex;
    align-items: center;
    overflow: auto;
} 

/* Debugging stuff */

/* .row {
    background: green!important;
    border: 1px inset rgb(13, 41, 13);
} */

/* .test {
background: rgb(175, 94, 94);
} */



/* @media (max-width: 768px) {
    .main-content {
        min-height: calc(100vh - 125px - 50px);
    }
} */