:root {
    --bg: #0E1428;
    --accent1: #40798C;
    --acc1-light: #93B7BE;
    --accent2: #7B9E89;
    --acc2-light: #CFE0C3;
    --shadow: #00000044;
    --acc2-light-t: #CFE0C340;

}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    min-height: calc(100vh - 200px - 50px); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  
  /* HEADER */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: var(--bg);
    top: 0;
    border-bottom: 6px solid var(--acc2-light);
  }
  
.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-shadow: -4px -1px 0px var(--acc1-light);
    margin: 0;
    white-space: nowrap;
}

/* NAV STUFF */
.header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
}

.header nav a {
    font-family: 'Roboto', sans-serif;
    color: var(--acc1-light);
    letter-spacing: .1em;
    margin: 0 15px;
    text-decoration: none !important;
}

.header nav a:hover {
    color: white;
}

/* ABOUT ME */

.profile-pic {
    object-fit: cover;
    max-width: 85%;
    border-radius: 4px;
    box-shadow: 4px 2px 7px var(--shadow); 
}

.text-field {
    margin-top: 10px;
    max-height: 90%; 
    overflow: auto;
}

.about-me-text {
    font-family: 'Roboto', sans-serif;
    font-size: .90rem;
}

.cstm-body {
    border-top: 6px solid var(--bg);
    /* border-left: 5px solid var(--bg);
    border-bottom: 5px solid var(--accent2); */
    border-right: 5px solid var(--accent2);
    box-shadow: 4px 2px 7px var(--shadow);
    position: relative;
    padding: 30px;
}

/* .cat-peek {
    position: absolute;
    bottom: -43.5px;
    right: 0;
    transform: calc(100% + 12px);
    width: 20%;
} */

.cstm-tab {
    background-color: var(--bg) !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    letter-spacing: .20rem;
    padding: 15px 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 3px solid var(--bg);
    
}

.cstm-body {
    background-color: var(--acc2-light-t);
}


/* CONTACT ME */

.message-submit {
    font-family: 'Bebas Neue', sans-serif !important;
    margin-top: 10px;
    background-color: var(--accent1) !important;
    color: white !important;
    border: none !important;
    font-size: 1.6rem !important;
    width: 200px;
    height: 50px; 
    
}

.message-submit:hover {
    background-color: var(--accent2) !important;
    color: white !important;
    border: none;
}

.contact-card-header {
    background-color: var(--accent1) !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .20rem;
    padding: 25px 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}


/* PORTFOLIO */
.project-img {
    object-fit: cover;
    object-position: left;
    height: 250px;
    width: 100%;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
.project-img.darken {
    filter: brightness(0.2);
}

.project-card {
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 5px;
}

.project-description-container {
    padding-bottom: 50px;
}

.project-details {
    transition: all 0.3s ease;
    transform: translateY(0);
    position: relative;
}

.project-link {
    display: block;
}

.project-description,
.project-link {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-20px);
}


/* hover */
.project-card:hover .project-description,
.project-card:hover .project-link {
    opacity: 1;
    transform: translateX(0);
}

.project-card:hover .project-img {
    transform: scale(1.05);
}

.project-card:hover .project-details {
    transform: translateY(-50px);
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px var(--shadow);
}

.project-img:hover {
    filter: brightness(50%);
}


/* typography */
.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 1s ease;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem !important;
    margin-left: 5px;
    color: var(--accent1);
}

.project-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: white;
}

.project-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    color: var(--accent2);
    text-decoration: none;
}

.project-link:hover {
    color: var(--acc2-light);
}

/* FOOTER */
.footer {
    width: 100vw;
    height: 50px;
    background: var(--bg);
    bottom: 0;
    width: 100%;
}

.footer h4 {
    color: white;
    font-family: 'bebas neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* Debugging stuff */

/* .row {
    background: green!important;
    border: 1px inset rgb(13, 41, 13);
} */

/* .test {
background: rgb(175, 94, 94);
} */

 @media (min-width: 768px) {
    .about-me .cat-peek {
        position: absolute;
        bottom: -44px;
        right: 10px;
        max-width: 20%;
    }
} 


@media (max-width: 767px) {
.header {
    height: 125px;
}

.profile-pic {
    max-width: 50%;
}

.main-content {
    min-height: calc(100vh - 125px - 50px); 
}

    .header h1 {
        font-size: 5rem;
    }

    .header nav a {
        font-size: .9rem;
        letter-spacing: 0;
        margin: 0px 15px;
    }
    
    .about-me-text {
        font-family: 'Roboto', sans-serif;
        font-size: .80rem;
    }
    
    .about-me .cat-peek {
    display: none;
    }
}

