.profile-pic {
    object-fit: cover;
    max-width: 90%;
    box-shadow: 7px 7px 1px var(--dark);
    margin: 8px;
}


.about-me-text {
    font-family: 'Roboto', sans-serif;
    font-size: .95rem;
    color: var(--dark);
    letter-spacing: 0.07rem;
    padding-top: 5px;
    padding-left: 5px;
}

.nav-tabs .nav-link {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-style: italic !important;
    letter-spacing: 0.09rem !important;
    border-radius: 0;
    color: var(--accent1)
}

.nav-tabs .nav-link:hover {
    color: var(--accent2)
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--accent2) !important;
}

/* DARK MODE */

body.dark-mode .about-me-text {
    color: white;
}

body.dark-mode .profile-pic {
    box-shadow: -7px -7px 1px var(--accent1);
}

body.dark-mode .nav-tabs .nav-link.active {
    background: var(--dark) !important;
    color: var(--accent2) !important;
    border-bottom: var(--dark) solid 1px !important;
}

/* SMALLER SCREENS */


@media screen and (max-width: 850px) {
    .nav-tabs .nav-link {
        font-size: .8rem !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-tabs .nav-link {
        font-size: .7rem !important;
    }

    .profile-pic {
        max-width: 70% !important;
        margin: 0;
    }


}