.goals {
    margin: 0px 25px;
}

.goal {
    margin-bottom: 8px;
}

.goal h4 {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--dark);
    margin-top: 8px;
}

.progress {
    background-color: #f3f3f3;
    border-radius: 3px;
    height: 15px;
    width: 100%;
}

.progressBar {
    background-color: var(--accent2);
    height: 100%;
    transition: width 0.4s ease-in-out;
}

/* DARK MODE */
body.dark-mode .goal h4 {
    color: white;
}

body.dark-mode .progressBar {
    background-color: var(--accent1);
}